
.text-gradient {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-animado {
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 0.7px #e21e80;
    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: BgText 6s linear infinite;
    animation-delay: 1s;
}

.text-5xl {
    line-height: 1.3;
}

.text-animado::before {
    content: "";
    position: absolute;
    top: 80;
    left: 0;
    width: 18.1%;
    height: 4%;
    z-index: -1;
  }
  
  /* Animaciones de text-animado */
  @keyframes BgText {
    0%,10%,100% {
      background-position: -43rem 0;
    }
    65%,85% {
      background-position: 0 0;
    }
  }

.profile {
    position: relative;
    height: 75vw;
    width: 75vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
}

.profile .profile-img {
    height: 80vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}